<div class="mb-2 text-base md:text-xl text-gray-800 font-ibmserif"> 
    <span class="mr-1"> Columbia University </span>
    <span class="font-bold"> Narrative Intelligence Lab </span>
</div>

<div class="flex mt-0 items-start font-bold font-sans">

    <div class="grid pr-1 pl-16 mr-3 bg-sky-600 text-white font-bold text-5xl lg:text-7xl">
        <a href="/" class="font-ibmsans">
            CUØ
        </a>
        <span class="text-sm text-right pr-2 font-ibmserif">(/'kjuːnɪl/)</span>
    </div>

    <div class="grid grid-cols-2
                text-gray-800 font-medium text-base lg:text-xl font-ibmsans">

            <a href="#research" class="hover:text-sky-700">
                Research</a>

            <a href="/team" class="hover:text-sky-700">
                Team</a>

            <a href="#case-studies" class="hover:text-sky-700">
                Impact</a>

            <a href="#about" class="hover:text-sky-700">Book Series</a>

            <a href="https://xpmethod.columbia.edu/" class="hover:text-sky-700 row-span-2">Archive</a>

    </div>

</div>

