<div class="bg-white">
  <header class="absolute inset-x-0 top-0 z-50">
    <nav class="flex items-center justify-between p-6 lg:px-8" aria-label="Global">
      <div class="flex lg:flex-1">
        <a href="#" class="">
          <span class="sr-only">Aminolink</span>
          <img class="md:h-35 h-15" src="assets/images/aminolink.png" alt="">
        </a>
      </div>

        <ul class="flex">
          <li class="">
            <a class="inline-block border border-white rounded text-black-900
                py-1 px-3" href="#peptides">Peptides</a>
          </li>
          <li class="">

            <a class="inline-block rounded py-1 px-3 text-teal-500"
                href="#">Get Started</a>

          </li>
        </ul>

    </nav>
  </header>

  <div class="relative isolate px-6 lg:px-8 bg-contain bg-no-repeat
      bg-[url('/assets/images/bg.png')] bg-opacity-10 ">

    <div class="mx-auto max-w-2xl py-32 sm:py-48 lg:py-56 ">
      <div class="text-center">
        <h1 class="text-5xl font-semibold tracking-tight text-balance text-gray-900
            sm:text-7xl">Lighter, stronger — you.</h1>
        <p class="mt-8 text-lg font-medium text-pretty text-gray-900 sm:text-xl/8">

        Unlock the potential of modern peptides, sourced from trusted partner pharmacies.</p>

        <div class="mt-10 flex items-center justify-center gap-x-6">
          <a href="#" class="text-sm/6 font-semibold text-gray-900">Learn more <span aria-hidden="true">→</span></a>
        </div>
      </div>
    </div>
  </div>
</div>
